<h1><%= @todo_list.title %></h1> <!--#08-15-->

<!--Added from step 08-16-->
<ul class="todo_items">
    <% @todo_list.todo_items.each do |todo_item| %>
    <li id="<%= dom_id(todo_item) %>">
        <%= todo_item.content %>
        <!--Added from step 10-8-->
        <%= link_to "Edit", edit_todo_list_todo_item_path(todo_item) %>
        <!--end add-->
    </li>
    <% end %>
</ul>

<!--Added from step 09-3-->
<p>
    <%= link_to "New Todo Item", new_todo_list_todo_item_path %>
</p>